In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'age': [10,np.nan,15,18],
    'hight': [130,140,160,175],
    'gender': ["M", "M", "F", "F"],
    'city': ["tpkyo", np.nan, "osaka", "nagoya"]
})

In [3]:
print(df)
print(df.isnull().sum())

    age  hight gender    city
0  10.0    130      M   tpkyo
1   NaN    140      M     NaN
2  15.0    160      F   osaka
3  18.0    175      F  nagoya
age       1
hight     0
gender    0
city      1
dtype: int64

In [4]:
df_temp1 = df.dropna()
print(df_temp1)

    age  hight gender    city
0  10.0    130      M   tpkyo
2  15.0    160      F   osaka
3  18.0    175      F  nagoya

In [5]:
df_temp2 = df.fillna(df['age'].mean())
print(df_temp2)

         age  hight gender       city
0  10.000000    130      M      tpkyo
1  14.333333    140      M  14.333333
2  15.000000    160      F      osaka
3  18.000000    175      F     nagoya