In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({
    'age': [10,12,15,18],
    'hight': [130,140,160,175],
    'gender': ["M", "M", "F", "F"],
    'city': ["tpkyo", "koube", "osaka", "nagoya"]
})

In [3]:
print(df.info())
print(df.head(2))
print(df.index)
print(df.columns)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     4 non-null      int64
 1   hight   4 non-null      int64
 2   gender  4 non-null      object
 3   city    4 non-null      object
dtypes: int64(2), object(2)
memory usage: 256.0+ bytes
None
   age  hight gender   city
0   10    130      M  tpkyo
1   12    140      M  koube
RangeIndex(start=0, stop=4, step=1)
Index(['age', 'hight', 'gender', 'city'], dtype='object')

In [4]:
df.index = ["hana", "yuki", "kengo", "taro"]
df = df.rename(
    columns={"gender":"sex"},
    index={"taro":"ziro"}
    )
df['city'] = ["tpkyo", "koube", "osaka", "nagoya"]
print(df)

       age  hight sex    city
hana    10    130   M   tpkyo
yuki    12    140   M   koube
kengo   15    160   F   osaka
ziro    18    175   F  nagoya

In [5]:
df = df.drop(columns="sex")
print(df)
df['gender'] = ["M", "M", "F", "F"]

       age  hight    city
hana    10    130   tpkyo
yuki    12    140   koube
kengo   15    160   osaka
ziro    18    175  nagoya

In [6]:
print(df.loc['yuki','hight'])
print(df.loc[:, ['age', 'gender']])
print(df[df['age']>15])
print(df.loc[df['hight']>150])

140
       age gender
hana    10      M
yuki    12      M
kengo   15      F
ziro    18      F
      age  hight    city gender
ziro   18    175  nagoya      F
       age  hight    city gender
kengo   15    160   osaka      F
ziro    18    175  nagoya      F

In [7]:
df = df.sort_values('age', ascending=False)

In [8]:
print(df)
print(df['gender'].value_counts())
print(df.groupby('gender').max())

print(df.loc[:,'hight'].mean())
print(df.loc[:,'hight'].max())
print(df.loc[:,'hight'].min())

       age  hight    city gender
ziro    18    175  nagoya      F
kengo   15    160   osaka      F
yuki    12    140   koube      M
hana    10    130   tpkyo      M
F    2
M    2
Name: gender, dtype: int64
        age  hight   city
gender
F        18    175  osaka
M        12    140  tpkyo
151.25
175
130

In [9]:
df['hight'] += 10
print(df)

       age  hight    city gender
ziro    18    185  nagoya      F
kengo   15    170   osaka      F
yuki    12    150   koube      M
hana    10    140   tpkyo      M