In [1]:
import pandas as pd
import os
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
customer_master01 = os.environ["customer_master01"]
df = pd.read_csv(customer_master01, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df)

データサイズ： 5000
columns Index(['customer_id', 'customer_name', 'registration_date',
       'customer_name_kana', 'email', 'gender', 'age', 'birth', 'pref'],
      dtype='object')
index RangeIndex(start=0, stop=5000, step=1)
============================================================
     customer_id customer_name    registration_date customer_name_kana  \
0       IK152942        平田 裕次郎  2019-01-01 00:25:33          ひらた ゆうじろう
1       TS808488         田村 詩織  2019-01-01 01:13:45            たむら しおり
2       AS834628         久野 由樹  2019-01-01 02:00:14             ひさの ゆき
3       AS345469          鶴岡 薫  2019-01-01 04:48:22           つるおか かおる
4       GD892565         大内 高史  2019-01-01 04:54:51           おおうち たかし
...          ...           ...                  ...                ...
4995    AS677229         平山 莉沙  2019-07-31 16:52:26            ひらやま りさ
4996    HD758694        中原 まひる  2019-07-31 19:09:26           なかはら まひる
4997    PL538517         田端 由宇  2019-07-31 19:30:05             たばた ゆう
4998    OA955088         瀬戸内 光  2019-07-31 22:32:08           せとうち ひかる
4999    HI349563         堀井 寛治  2019-07-31 22:49:49            ほりい かんじ

                            email gender  age       birth pref
0     hirata_yuujirou@example.com      M   29   1990/6/10  石川県
1       tamura_shiori@example.com      F   33   1986/5/20  東京都
2         hisano_yuki@example.com      F   63    1956/1/2  茨城県
3      tsuruoka_kaoru@example.com      M   74   1945/3/25  東京都
4      oouchi_takashi@example.com      M   54    1965/8/5  千葉県
...                           ...    ...  ...         ...  ...
4995    hirayama_risa@example.com      F   77  1941/10/17  愛知県
4996  nakahara_mahiru@example.com      F   27  1991/11/13  茨城県
4997      tabata_yuu1@example.com      F   73  1945/12/28  愛知県
4998  setouchi_hikaru@example.com      F   75    1944/4/9  宮城県
4999      horii_kanji@example.com      M   21    1998/2/6  広島県

[5000 rows x 9 columns]

In [4]:
f1 = os.environ["transaction_1"]
f2 = os.environ["transaction_2"]
transaction_1 = pd.read_csv(f1, header=0)
transaction_2 = pd.read_csv(f2, header=0)

print('データサイズ：', len(transaction_1))
print('='*60)
print(transaction_1)

print('データサイズ：', len(transaction_2))
print('='*60)
print(transaction_2)

データサイズ： 5000
============================================================
     transaction_id   price         payment_date customer_id
0       T0000000113  210000  2019-02-01 01:36:57    PL563502
1       T0000000114   50000  2019-02-01 01:37:23    HD678019
2       T0000000115  120000  2019-02-01 02:34:19    HD298120
3       T0000000116  210000  2019-02-01 02:47:23    IK452215
4       T0000000117  170000  2019-02-01 04:33:46    PL542865
...             ...     ...                  ...         ...
4995    T0000005108  210000  2019-06-15 02:42:41    HD315748
4996    T0000005109  150000  2019-06-15 03:36:16    HI215420
4997    T0000005110   50000  2019-06-15 03:44:06    IK880102
4998    T0000005111  210000  2019-06-15 04:14:06    IK074758
4999    T0000005112   50000  2019-06-15 04:42:38    HD444151

[5000 rows x 4 columns]
データサイズ： 1786
============================================================
     transaction_id   price         payment_date customer_id
0       T0000005113  295000  2019-06-15 07:20:27    TS169261
1       T0000005114   50000  2019-06-15 07:35:47    HI599892
2       T0000005115   85000  2019-06-15 07:56:36    HI421757
3       T0000005116   50000  2019-06-15 08:40:55    OA386378
4       T0000005117  120000  2019-06-15 08:44:23    TS506913
...             ...     ...                  ...         ...
1781    T0000006894  180000  2019-07-31 21:20:44    HI400734
1782    T0000006895   85000  2019-07-31 21:52:48    AS339451
1783    T0000006896  100000  2019-07-31 23:35:25    OA027325
1784    T0000006897   85000  2019-07-31 23:39:35    TS624738
1785    T0000006898   85000  2019-07-31 23:41:38    AS834214

[1786 rows x 4 columns]