In [1]:
import pandas as pd
import os
import sys
from dotenv import load_dotenv
load_dotenv()

True

In [2]:
file = os.environ["dump_data"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
df.head()

データサイズ： 2999
columns Index(['purchase_date', 'purchase_month', 'item_name', 'item_price', '顧客名',
       'かな', '地域', 'メールアドレス', '登録日'],
      dtype='object')
index RangeIndex(start=0, stop=2999, step=1)
============================================================

,purchase_date,purchase_month,item_name,item_price,顧客名,かな,地域,メールアドレス,登録日
0,2019-06-13 18:02:34,201906,商品A,100.0,深井菜々美,ふかい ななみ,C市,fukai_nanami@example.com,2017-01-26 00:00:00
1,2019-07-13 13:05:29,201907,商品S,1900.0,浅田賢二,あさだ けんじ,C市,asada_kenji@example.com,2018-04-07 00:00:00
2,2019-05-11 19:42:07,201905,商品A,100.0,南部慶二,なんぶ けいじ,A市,nannbu_keiji@example.com,2018-06-19 00:00:00
3,2019-02-12 23:40:45,201902,商品Z,2600.0,麻生莉緒,あそう りお,D市,asou_rio@example.com,2018-07-22 00:00:00
4,2019-04-22 03:09:35,201904,商品A,100.0,平田鉄二,ひらた てつじ,D市,hirata_tetsuji@example.com,2017-06-07 00:00:00

In [3]:
file = os.environ["kokyaku_daicho"]
df = pd.read_excel(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
df.head()
df.

データサイズ： 200
columns Index(['顧客名', 'かな', '地域', 'メールアドレス', '登録日'], dtype='object')
index RangeIndex(start=0, stop=200, step=1)
============================================================

      顧客名        かな  地域                     メールアドレス         登録日
0   須賀ひとみ    すが ひとみ  H市     suga_hitomi@example.com  2018/01/04
1  岡田　 敏也   おかだ としや  E市   okada_toshiya@example.com       42782
2    芳賀 希    はが のぞみ  A市     haga_nozomi@example.com  2018/01/07
3   荻野  愛    おぎの あい  F市        ogino_ai@example.com       42872
4   栗田 憲一  くりた けんいち  E市  kurita_kenichi@example.com       43127

In [5]:
file = os.environ["uriage"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 2999
columns Index(['purchase_date', 'item_name', 'item_price', 'customer_name'], dtype='object')
index RangeIndex(start=0, stop=2999, step=1)
============================================================
         purchase_date item_name  item_price customer_name
0  2019-06-13 18:02:34       商品A       100.0         深井菜々美
1  2019-07-13 13:05:29     商 品 S         NaN          浅田賢二
2  2019-05-11 19:42:07     商 品 a         NaN          南部慶二
3  2019-02-12 23:40:45       商品Z      2600.0          麻生莉緒
4  2019-04-22 03:09:35       商品a         NaN          平田鉄二

In [6]:
file = os.environ["campaign_master"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 3
columns Index(['campaign_id', 'campaign_name'], dtype='object')
index RangeIndex(start=0, stop=3, step=1)
============================================================
  campaign_id campaign_name
0         CA1            通常
1         CA2         入会費半額
2         CA3         入会費無料

In [7]:
file = os.environ["class_master"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 3
columns Index(['class', 'class_name', 'price'], dtype='object')
index RangeIndex(start=0, stop=3, step=1)
============================================================
  class class_name  price
0   C01     オールタイム  10500
1   C02      デイタイム   7500
2   C03        ナイト   6000

In [11]:
file = os.environ["customer_master"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 4192
columns Index(['customer_id', 'name', 'class', 'gender', 'start_date', 'end_date',
       'campaign_id', 'is_deleted'],
      dtype='object')
index RangeIndex(start=0, stop=4192, step=1)
============================================================
  customer_id   name class gender           start_date end_date campaign_id  \
0    OA832399   XXXX   C01      F  2015-05-01 00:00:00      NaN         CA1
1    PL270116  XXXXX   C01      M  2015-05-01 00:00:00      NaN         CA1
2    OA974876  XXXXX   C01      M  2015-05-01 00:00:00      NaN         CA1
3    HD024127  XXXXX   C01      F  2015-05-01 00:00:00      NaN         CA1
4    HD661448  XXXXX   C03      F  2015-05-01 00:00:00      NaN         CA1

   is_deleted
0           0
1           0
2           0
3           0
4           0

In [12]:
file = os.environ["use_log03"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 197428
columns Index(['log_id', 'customer_id', 'usedate'], dtype='object')
index RangeIndex(start=0, stop=197428, step=1)
============================================================
            log_id customer_id     usedate
0  L00000049012330    AS009373  2018-04-01
1  L00000049012331    AS015315  2018-04-01
2  L00000049012332    AS040841  2018-04-01
3  L00000049012333    AS046594  2018-04-01
4  L00000049012334    AS073285  2018-04-01

In [19]:
file = os.environ["use_log04"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 197428
columns Index(['log_id', 'customer_id', 'usedate'], dtype='object')
index RangeIndex(start=0, stop=197428, step=1)
============================================================
            log_id customer_id     usedate
0  L00000049012330    AS009373  2018-04-01
1  L00000049012331    AS015315  2018-04-01
2  L00000049012332    AS040841  2018-04-01
3  L00000049012333    AS046594  2018-04-01
4  L00000049012334    AS073285  2018-04-01

In [24]:
file = os.environ["survey"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 86
columns Index(['datetime', 'comment', 'satisfaction'], dtype='object')
index RangeIndex(start=0, stop=86, step=1)
============================================================
    datetime            comment  satisfaction
0  2019/3/11  駅前に若者が集まっている(AA駅)             1
1  2019/2/25   スポーツできる場所があるのが良い             5
2  2019/2/18          子育て支援が嬉しい             5
3   2019/4/9    保育園に入れる（待機児童なし）             4
4   2019/1/6          駅前商店街が寂しい             2

In [29]:
file = os.environ["info_members"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 540
columns Index(['Unnamed: 0', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
       '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22',
       '23'],
      dtype='object')
index RangeIndex(start=0, stop=540, step=1)
============================================================
  Unnamed: 0    0    1    2    3    4    5    6    7    8  ...   14   15   16  \
0      Node0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0  ...  1.0  1.0  1.0
1      Node1  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
2      Node2  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
3      Node3  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  ...  1.0  1.0  1.0
4      Node4  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  ...  1.0  1.0  1.0

    17   18   19   20   21   22   23
0  1.0  1.0  1.0  1.0  0.0  0.0  0.0
1  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2  1.0  0.0  1.0  1.0  1.0  1.0  1.0
3  1.0  1.0  0.0  1.0  1.0  1.0  0.0
4  1.0  1.0  1.0  1.0  1.0  1.0  1.0

[5 rows x 25 columns]

In [30]:
file = os.environ["links_members"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 540
columns Index(['Unnamed: 0', 'Node0', 'Node1', 'Node2', 'Node3', 'Node4', 'Node5',
       'Node6', 'Node7', 'Node8',
       ...
       'Node530', 'Node531', 'Node532', 'Node533', 'Node534', 'Node535',
       'Node536', 'Node537', 'Node538', 'Node539'],
      dtype='object', length=541)
index RangeIndex(start=0, stop=540, step=1)
============================================================
  Unnamed: 0  Node0  Node1  Node2  Node3  Node4  Node5  Node6  Node7  Node8  \
0      Node0    0.0    0.0    1.0    0.0    0.0    0.0    0.0    0.0    0.0
1      Node1    0.0    0.0    0.0    0.0    1.0    1.0    0.0    0.0    0.0
2      Node2    1.0    0.0    0.0    0.0    0.0    1.0    0.0    1.0    0.0
3      Node3    0.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0
4      Node4    0.0    1.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0

   ...  Node530  Node531  Node532  Node533  Node534  Node535  Node536  \
0  ...      0.0      0.0      0.0      0.0      0.0      0.0      0.0
1  ...      0.0      1.0      1.0      0.0      0.0      0.0      0.0
2  ...      0.0      0.0      1.0      0.0      1.0      0.0      0.0
3  ...      0.0      0.0      0.0      0.0      0.0      0.0      0.0
4  ...      0.0      0.0      0.0      1.0      1.0      0.0      0.0

   Node537  Node538  Node539
0      0.0      0.0      0.0
1      0.0      0.0      0.0
2      1.0      1.0      0.0
3      0.0      0.0      0.0
4      0.0      1.0      0.0

[5 rows x 541 columns]

In [31]:
file = os.environ["links"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 20
columns Index(['Unnamed: 0', 'Node0', 'Node1', 'Node2', 'Node3', 'Node4', 'Node5',
       'Node6', 'Node7', 'Node8', 'Node9', 'Node10', 'Node11', 'Node12',
       'Node13', 'Node14', 'Node15', 'Node16', 'Node17', 'Node18', 'Node19'],
      dtype='object')
index RangeIndex(start=0, stop=20, step=1)
============================================================
  Unnamed: 0  Node0  Node1  Node2  Node3  Node4  Node5  Node6  Node7  Node8  \
0      Node0    0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0
1      Node1    0.0    0.0    0.0    0.0    0.0    1.0    0.0    0.0    0.0
2      Node2    0.0    0.0    0.0    0.0    1.0    1.0    1.0    0.0    0.0
3      Node3    0.0    0.0    0.0    0.0    0.0    0.0    0.0    1.0    0.0
4      Node4    0.0    0.0    1.0    0.0    0.0    0.0    0.0    1.0    1.0

   ...  Node10  Node11  Node12  Node13  Node14  Node15  Node16  Node17  \
0  ...     0.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0
1  ...     0.0     1.0     0.0     1.0     0.0     0.0     1.0     0.0
2  ...     1.0     0.0     0.0     0.0     0.0     0.0     0.0     0.0
3  ...     0.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0
4  ...     1.0     0.0     0.0     0.0     0.0     1.0     0.0     0.0

   Node18  Node19
0     0.0     0.0
1     0.0     0.0
2     0.0     0.0
3     0.0     0.0
4     0.0     0.0

[5 rows x 21 columns]

In [43]:
file = os.environ["customer_master01"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 5000
columns Index(['customer_id', 'customer_name', 'registration_date',
       'customer_name_kana', 'email', 'gender', 'age', 'birth', 'pref'],
      dtype='object')
index RangeIndex(start=0, stop=5000, step=1)
============================================================
  customer_id customer_name    registration_date customer_name_kana  \
0    IK152942        平田 裕次郎  2019-01-01 00:25:33          ひらた ゆうじろう
1    TS808488         田村 詩織  2019-01-01 01:13:45            たむら しおり
2    AS834628         久野 由樹  2019-01-01 02:00:14             ひさの ゆき
3    AS345469          鶴岡 薫  2019-01-01 04:48:22           つるおか かおる
4    GD892565         大内 高史  2019-01-01 04:54:51           おおうち たかし

                         email gender  age      birth pref
0  hirata_yuujirou@example.com      M   29  1990/6/10  石川県
1    tamura_shiori@example.com      F   33  1986/5/20  東京都
2      hisano_yuki@example.com      F   63   1956/1/2  茨城県
3   tsuruoka_kaoru@example.com      M   74  1945/3/25  東京都
4   oouchi_takashi@example.com      M   54   1965/8/5  千葉県

In [37]:
file = os.environ["item_master"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 5
columns Index(['item_id', 'item_name', 'item_price'], dtype='object')
index RangeIndex(start=0, stop=5, step=1)
============================================================
  item_id item_name  item_price
0    S001      PC-A       50000
1    S002      PC-B       85000
2    S003      PC-C      120000
3    S004      PC-D      180000
4    S005      PC-E      210000

In [38]:
file = os.environ["transaction_1"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 5000
columns Index(['transaction_id', 'price', 'payment_date', 'customer_id'], dtype='object')
index RangeIndex(start=0, stop=5000, step=1)
============================================================
  transaction_id   price         payment_date customer_id
0    T0000000113  210000  2019-02-01 01:36:57    PL563502
1    T0000000114   50000  2019-02-01 01:37:23    HD678019
2    T0000000115  120000  2019-02-01 02:34:19    HD298120
3    T0000000116  210000  2019-02-01 02:47:23    IK452215
4    T0000000117  170000  2019-02-01 04:33:46    PL542865

In [39]:
file = os.environ["transaction_2"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 1786
columns Index(['transaction_id', 'price', 'payment_date', 'customer_id'], dtype='object')
index RangeIndex(start=0, stop=1786, step=1)
============================================================
  transaction_id   price         payment_date customer_id
0    T0000005113  295000  2019-06-15 07:20:27    TS169261
1    T0000005114   50000  2019-06-15 07:35:47    HI599892
2    T0000005115   85000  2019-06-15 07:56:36    HI421757
3    T0000005116   50000  2019-06-15 08:40:55    OA386378
4    T0000005117  120000  2019-06-15 08:44:23    TS506913

In [40]:
file = os.environ["transaction_detail_1"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 5000
columns Index(['detail_id', 'transaction_id', 'item_id', 'quantity'], dtype='object')
index RangeIndex(start=0, stop=5000, step=1)
============================================================
   detail_id transaction_id item_id  quantity
0          0    T0000000113    S005         1
1          1    T0000000114    S001         1
2          2    T0000000115    S003         1
3          3    T0000000116    S005         1
4          4    T0000000117    S002         2

In [41]:
file = os.environ["transaction_detail_2"]
df = pd.read_csv(file, header=0)
print('データサイズ：', len(df))
print('columns', df.columns)
print('index', df.index)
print('='*60)
print(df.head())

データサイズ： 2144
columns Index(['detail_id', 'transaction_id', 'item_id', 'quantity'], dtype='object')
index RangeIndex(start=0, stop=2144, step=1)
============================================================
   detail_id transaction_id item_id  quantity
0       5000    T0000004870    S002         3
1       5001    T0000004871    S003         1
2       5002    T0000004872    S001         2
3       5003    T0000004873    S004         1
4       5004    T0000004874    S003         2